= simple_form_for m, :url => project_membership_path(m.project, m), :method => :patch do |f|
  = f.error_notification
  = f.input :role, :input_html => {:role => :submit_on_change}, :collection => roles_collection, :include_blank => false, :label => false, :selected => m.role
