.row
  .col-sm-9.col-sm-offset-3
    .page-header
      %h1 Вход
  .col-sm-4.col-sm-offset-3
    = render 'form'
  .col-sm-4.col-sm-offset-1
    = login_with_github
    %hr
    Нет аккаунта?
    = link_to "Зарегистрироваться", signup_url



