= simple_form_for PasswordResetForm.new, :url => password_resets_path,  :method => :post do |f|
  .form-group
    = f.input :email, label: false, input_html: {class: 'form-control'}
  = f.button :submit, t('devise.passwords.reset_password'), :class => 'btn btn-primary btn-lg btn-block'