.DS_Store
.vagrant
mini_magic*
.buildpath
.project
.bundle
profiles/*
log/*
public/assets/
tags
config/omniauth.yml
tmp/
.sass-cache/
gems.tags
coverage
spec/reports
.pt
public/uploads/
db/*.sqlite3
config/database.yml
.bash_history
.bashrc
.irb-history
.mysql_history
.ssh/
.vim/
.viminfo
.vimrc
.idea
.rvmrc
*~
config/application.local.yml
solr/data
solr/pids
sunspot-solr.pid
/cookbooks/
