-# Вход
-# @user

%h2 Доступные проекты

- @user.available_projects.each do |project|
  %h3
    = project
    %small
      = role_label :owner if project.owner == @user
      - Project::ROLES.each do |role|
        = change_role_link @user, project, role
