= simple_form_for @project, :method => method ||= :post do |f|
  = f.error_notification
  .row
    .col-lg-6.col-xs-12
      .row
        .col-lg-8
          = f.input :name, :label => false, :require => true, input_html: {class: 'form-control'}
        = f.button :submit, :class => 'btn btn-primary col-lg-4'

