= simple_form_for @project, :method => method ||= :post do |f|
  = f.error_notification
  .row
    .col-sm-6
      .row
        .col-xs-8
          .form-group
            = f.input :name, :label => false, :require => true, input_html: {class: 'form-control'}
        .col-xs-4
          .form-group
            = f.button :submit, :class => 'btn btn-primary btn-block'
