.error-page
  .row
    .col-sm-6.col-sm-offset-3
      .page-header
        %h1 Что-то пошло не так
      .error-page-content
        Эта страница не может быть показана &mdash; возможно, из-за неактуальной ссылки или опечатки.
        = link_to 'Вернитесь на главную страницу', root_url
        и попробуйте найти нужную страницу снова.
