@charset "UTF-8"

@import compass/typography/links
@import compass/typography/lists/horizontal-list
@import compass/support
@import compass/css3
@import footer

// @import select2
// @import mixins
@import bootstrap
// @import bootstrap-responsive
// @import jquery.ui.core

body
  padding-top: 60px

.horizontal-list
  +horizontal-list

.horizontal
  +horizontal-list
  %li
    padding-left: 0.5em

.date-shortcuts
  +horizontal-list
  display: inline-block
  padding-left: 1em
