@charset "UTF-8"

@import bootstrap
@import variables
@import compass/typography/links
@import compass/typography/lists/horizontal-list
@import compass/support
@import compass/css3
@import fontello/fontello
@import fontello/fontello-codes
@import fontello/fontello-ie7
@import fontello/fontello-ie7-codes
@import bootstrap-datetimepicker
@import icons
@import scaffolding
@import utils
@import fonts

@import ui
@import forms
@import navbar
@import footer
@import welcome
@import time-shifts
@import print
// @import select2
// @import mixins
// @import bootstrap-responsive
// @import jquery.ui.core

body
  background: $grayDark

.application-footer
  background: $grayDark
  color: #eee
.application-footer
  border: none

.application-main-content
  padding-top: 60px
  background: #fff

.horizontal-list
  +horizontal-list

.horizontal
  +horizontal-list
  %li
    padding-left: 0.5em

.date-shortcuts
  +horizontal-list
  font-size: 80%
  display: inline-block
  padding-top: 1em

.user-select-none
  +user-select(none)

.vertical-text
  +transform(rotate(-90deg))

.summary-table
  margin-top: 4em
