.navbar
  color: $grayLightest
  -webkit-font-smoothing: antialiased
  a
    +link-colors(#fff, rgba(#fff,0.7))
  .brand
    font-size: 1.2em
    line-height: 2.7em
  .brand-caption
    line-height: 2.3em
    vertical-align: bottom
  .brand-logo
    margin-right: 8px
    width: 32px
    height: 32px

.navbar-toggle
  +link-colors(#fff, rgba(255,255,255,0.7))
  -webkit-font-smoothing: antialiased
  margin:
    top: 3px
    bottom: 3px

.welcome-navbar.navbar
  background: none
  .nav.navbar-nav
    & > li
      float: left
      & > a
        color: #fff
        font-weight: 700
        -webkit-font-smoothing: antialiased
        +transition(color 0.2s ease, background 0.2s ease)
        background: none
        &:hover
          color: rgba(255,255,255,0.7)
          background: none
    //@media screen and (max-width: $screen-sm)
      margin: 0
      width: 100%
      background: rgba(#fff,0.2)
      & > li
        & > a
          margin: 10px auto
          padding: 10px
          display: block
          text-align: center
  .navbar-collapse
    @media screen and (max-width: $screen-sm)
      padding: 0
 
.navbar.application-navbar
  @extend .navbar-inverse
  background: $navbarBackgroundColor
  border-bottom: 0
  +transition(opacity 0.2s ease, height 0.2s ease)
  opacity: 1
  height: auto
  overflow: visible
  .page-header-static &,
    margin: 0
  &.transparent
    opacity: 0
    height: 0
    overflow: hidden

  .navbar-toggle
    border: 0

  .nav.navbar-nav
    & > li
      float: left
      & > a
        color: $grayLightest
        font-weight: 700
        -webkit-font-smoothing: antialiased
        +transition(color 0.2s ease, background 0.2s ease)
        background: none
        &:hover
          color: rgba(255,255,255,0.7)
          background: rgba(0,0,0,0.3)
        &.active
          background: rgba(#000,0.5)
    @media screen and (max-width: $screen-sm)
      //margin: 0
        width: 100%
        & > li
          & > a
            margin: 10px auto
            padding: 10px
            display: block
            text-align: center
      li.open
        & > a
          &, &.active
            &, &:hover
              background: lighten($navbarBackgroundColor, 10%)
        .dropdown-menu
          position: fixed
          top: inherit
          left: 0
          right: 0
          background: lighten($navbarBackgroundColor, 10%)
          padding: 0
          & > li
            & > a
              +link-colors(#fff, rgba(#fff,0.7))
              padding: 10px 0
              text-align: center
              text-transform: uppercase
              letter-spacing: 1px
              font-size: 0.85em
          
  .navbar-collapse
    padding: 0

.navbar-brand-logo
  max-width: 120px
  margin-top: 12px

.navbar-menu-icon
  font-size: 20px
  @extend .v-align-middle
  opacity: 0.8
  .active &, .open &
    opacity: 1
  @media screen and (min-width: $screen-sm)
    opacity: 0.5
    margin-right: 5px

.navbar-menu-label
  @media screen and (max-width: $screen-md)
    display: none

