body.welcome.index
  min-height: 100vh
  background: $grayDark url('/black-textured-background_1431396.jpg') no-repeat center center
  background-size: cover
  @media screen and (max-width: $screen-sm)
    background-position: 70% center

.welcome-brand
  line-height: 42px
  @media screen and (max-width: $screen-xs)
    margin-bottom: 20px
  @media screen and (min-width: $screen-sm)
    margin-bottom: 60px
  .brand-caption
    margin-left: 5px
    font-size: 24px
    font-weight: bold
    +link-colors(#fff, rgba(255,255,255,0.8)) 
    vertical-align: middle

.welcome-subheader
  font-size: 16px
  font-weight: 200
  margin-bottom: 1em
  line-height: 120%
  @media screen and (max-width: $screen-xs)
    font-size: 12px
    margin-bottom: 0.5em
  @media screen and (min-width: $screen-md)
    margin-bottom: 1.5em
    font-size: 24px

  ion-icon[name="logo-github"]
    margin-bottom: -5px
    margin-right: 3px

  ul
    padding-inline-start: 0px
    margin-bottom: 80px
    @media screen and (max-width: $screen-xs)
      margin-bottom: 40px
    li
      margin-bottom: 23px
      list-style-type: none

  a
    +link-colors(#fff, rgba(255,255,255,0.8)) 
    border-bottom: dashed 1px white

.welcome-content
  color: #fff
  min-height: 100%
  text-shadow: 0 1px 0 rgba(0,0,0,0.2)
  -webkit-font-smoothing: antialiased
  padding:
    top: 1em
    bottom: 2em
  @media screen and (min-width: $screen-md)
    padding:
      top: 5em
      bottom: 2em

.welcome-header
  font-size: 30px
  font-weight: 300
  margin:
    top: 0
    bottom: 0.75em
  @media screen and (min-width: $screen-md)
    font-size: 52px
  @media screen and (max-width: $screen-sm)
    margin:
      bottom: 0.5em

  strong
    font-weight: 900
    font-size: 1.2em

.btn-welcome
  width: auto
  font-size: 1.1em
  font-weight: 300
  padding: 0.3em
  +link-colors(rgba(#fff,0.8), #fff)
  +transition(color 0.2s ease)
  &, &:hover, &:focus
    background: none
    border: 0
  @media screen and (max-width: $screen-sm)
    padding: 10px 0
    border: 1px solid rgba(#fff,0.3)
    +transition(0.2s border ease, 0.2s background ease)
    &:hover, &:focus
      border: 1px solid rgba(#fff,0.8)
      background: rgba(#fff,0.2)

.btn-welcome-block
  @media screen and (max-width: $screen-xs)
    margin-top: 20px

.welcome-start-button
  width: 100%
  @media screen and (min-width: $screen-sm)
    width: 280px
.welcome-button-caption
  @extend small
  text-align: center
  opacity: 0.8
  margin-top: 0.5em

.btn-welcome-github
  @extend .btn
  // TO FIX
  // @extend .btn-block
  @extend .btn-success
  font-weight: bold
  font-size: 1.3em
  padding: 0.7em
  +transition(background 0.2s ease, border 0.2s ease)

.btn-github
  @extend .btn
  // TO FIX
  // @extend .btn-default
  +link-colors($grayDark, $gray)


.welcome-description
  margin-top: 4em
  @media screen and (min-width: $screen-sm)
    margin-top: 14em
  img
    opacity: 0.7

.welcome-feature-icon-clock,
.welcome-feature-icon-gantt
  width: 100%
  height: auto
@media screen and (min-width: $screen-md)
  .welcome-feature-icon-clock
    width: 55px
    height: 55px
  .welcome-feature-icon-gantt
    width: 72px
    height: 55px
 


.welcome-feature-block
  margin-bottom: 2em

