%table.table.table-condensed
  %thead
    %tr
      %th Провайдер
      %th ID
      %th Имя
  %tbody
    - user.authentications.each do |a|
      - a = AuthenticationDecorator.new(a)
      %tr
        %th= a.provider
        %td= a.nickname
        %td= a.username
