-# Вход
-# @user

%h2 Доступные проекты

- if user.projects.empty?
  .alert.alert-warning Нет доступных проектов.
- else
  %table.table
    - user.memberships.ordered_by_role.each do |m|
      %tr
        %th= link_to m.project, project_memberships_url(m.project_id)
        %td= role_human(m.role)
        %td.text-muted= UserDecorator.decorate_collection(m.project.users).map(&:link).join(', ').html_safe
