-# Вход
-# @user

%h2 Доступные проекты

- if user.projects.empty?
  .alert Нет доступных проектов.
- else
  %table.table.table-condensed
    %tbody
      - user.projects.each do |project|
        %tr
          %th
            = link_to project, project_url(project)
          %td
            %ul.horizontal-list
              - Membership::ROLES.each do |role|
                %li= change_role_link user, project, role
