-# Вход
-# @user

%h2 Доступные проекты

- if user.projects.empty?
  .alert Нет доступных проектов.
- else
  %table.table.table-condensed
    %tbody
      - user.memberships.ordered_by_role.each do |m|
        %tr
          %th
            = link_to m.project, project_memberships_url(m.project_id)
          %td
            %ul.horizontal-list
              %li= role_human(m.role_cd)
              -# Membership::ROLES.each do |role|
                -#change_role_link user, project, role
