.page-header
  %h1 Личный профиль

- ud = UserDecorator.decorate @user
.row
  .col-lg-2
    = ud.avatar
  .col-lg-4
    = render 'form'
  .col-lg-4
    = render 'authentications', :user => @user
%hr
= render 'available_projects', :user => @user
%hr
