- if viewable_projects_collection.empty?
  .alert У вас нет доступных проектов для тайминга.
- else
  = render 'time_sheet_form'

- @groups.each do |g|
  %h2
    = g[:title]
    %small
      = title_of_group_results g
  = render 'list', :time_shifts => g[:time_shifts]

