- if setable_projects_collection.empty?
  .print-hide.alert.alert-warning У вас нет доступных проектов для тайминга.
- else
  %br
  = render 'form'

- if this_day_shifts.exists?
  %br
  %h3= t '.today_shifts'
  = render 'list', :time_shifts => this_day_shifts
