- flash.each do |name, msg|
  - if msg.is_a?(String)
    #flash
      %div{:class => "alert alert-#{name == :notice ? "success" : "danger"}"}
        %a.close{"data-dismiss" => "alert"} &times;
        = content_tag :div, msg, :id => "flash_#{name}"
